<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Кто ты из конфы петушар?</title>
</head>

<body>
    <div class="main">
        <div class="app" v-show="showMain">
            <div class="app__header">
                <img src="img/logo.png" alt="" class="app__logo">
            </div>
            <div class="app__body">
                <button class="app__btn" @click="goToQuest">
                    <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                    <div class="app__btn-text">На взлёт!</div>
                </button>
                <button class="app__btn" @click="goToAchivments">
                    <i class="fa fa-trophy" aria-hidden="true"></i>
                    <div class="app__btn-text">Достижения?</div>
                </button>
                <button class="app__btn" @click="goToSocial">
                    <i class="fa fa-television" aria-hidden="true"></i>
                    <div class="app__btn-text">Титры!</div>
                </button>
                <button class="app__btn btn__sound">
                    <i class="fa fa-volume-off" aria-hidden="true"></i>
                    <div class="app__btn-text">Гачи-радио</div>
                </button>
            </div>
        </div>

        <div class="app achivments" v-show="showAchivments">
            <div class="app__body">
                <div class="app__body-inner">
                    <h2 class="app__body-title">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                        Достижения!
                    </h2>
                    <div class="app__body-top">
                        <div class="app__card">
                            <div class="app__card-text">Счёт</div>
                            <div class="app__card-count">{{ totalScore }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Открыто петухов</div>
                            <div class="app__card-count">{{ openRaces }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Всего залетов</div>
                            <div class="app__card-count">{{ totalGames }}</div>
                        </div>
                        <div class="app__card">
                            <div class="app__card-text">Любимый петушара</div>
                            <div class="app__card-count">{{ bestRace }}</div>
                        </div>
                    </div>
                    <div class="app__body-middle">
                        <div class="app__result"
                            v-for="(race, k) in results"
                            v-show="showResultRace[k]"
                            @click="goToResult(k)">
                            <div class="app__result-score">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <div class="app__result-count">{{ race.points }}</div>
                            </div>
                            <div class="app__result-name">{{ race.name }}</div>
                            <div class="app__result-amount">{{ totalGame[k] }}</div>
                        </div>
                    </div>
                    <div class="app__body-bottom">
                        <button class="app__btn btn__back btn__achivment" @click="goToMain">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="app" v-show="showQuest">
            <div class="app__header">
                <div class="app__header-inner">
                    <div class="app__count"># {{ numQuest+1 }}</div>
                    <div class="app__text">{{ questions[numQuest][0] }}</div>
                </div>
            </div>
            <div class="app__body">
                <button class="app__btn" v-for="(answer, i) in questions[numQuest][1]"
                    @click="nextQuestion(questions[numQuest][2][i])">
                    <div class="app__btn-text">{{ answer }}</div>
                </button>
            </div>
        </div>

        <div class="app" v-show="showSocial">
            <div class="app__body">
                <a href="vk.com/rocketonz" class="app__btn">
                    <i class="fa fa-vk" aria-hidden="true"></i>
                    <div class="app_btn-text">ВКОНТАКТЯО</div>
                </a>
                <a href="vk.com/rocketonz" class="app__btn">
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <div class="app_btn-text">ТЫТРУБ</div>
                </a>
                <div class="app__body-bottom">
                    <button class="app__btn btn__back" @click="goToMain">
                        <i class="fa fa-reply" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="app results" v-show="showResult" :data-race="resultRace">
            <div class="app__body">
                <div class="app__results-inner">
                    <div class="results__title">{{ results[resultRace].name }}</div>
                    <div class="results__img">
                        <img :src="'img/'+resultRace+'__logo.gif'" alt="">
                    </div>
                    <div class="results__text-box">
                        <p class="results__text">{{ results[resultRace].description }}</p>
                        <p class="results__quote">{{ results[resultRace].quote1 }}</p>
                        <p class="results__quote">{{ results[resultRace].quote2 }}</p>
                        <p class="results__author">{{ results[resultRace].author }}</p>
                    </div>
                    <div class="">
                        <button :class="'app__btn btn__back btn__'+resultRace" @click="goToAchivments">
                            <i class="fa fa-reply" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="js/vue.js"></script>
    <script src="js/const.js"></script>
    <script>
        function getMaxOfArray(arr) {
            return arr.indexOf(Math.max(...arr));
        }
    </script>
    <script>
        let app = new Vue({
            el: '.main',
            data: {
                showMain: true,
                showAchivments: false,
                showQuest: false,
                showSocial: false,
                showResult: false,
                numQuest: 0,
                score: {
                    'sanya': 0,
                    'danik': 0,
                    'den': 0,
                    'vadik': 0,
                    'ilya': 0,
                    'vovan': 0,
                },
                totalGame: localStorage.getItem('ilitaTotalGame') ? JSON.parse(localStorage.getItem('ilitaTotalGame')) : {
                    'sanya': 0,
                    'danik': 0,
                    'den': 0,
                    'vadik': 0,
                    'ilya': 0,
                    'vovan': 0,
                },
                totalGames: localStorage.getItem('ilitaTotalGames') ? localStorage.getItem('ilitaTotalGames') : 0,
                questions: questions,
                results: results,
                resultRace: 'sanya',
            },
            methods: {
                goToMain() {
                    this.showMain = true;
                    this.showAchivments = false;
                    this.showQuest = false;
                    this.showSocial = false;
                    this.showResult = false;
                },
                goToAchivments() {
                    if (this.totalGames > 0) {
                        this.showMain = false;
                        this.showAchivments = true;
                        this.showQuest = false;
                        this.showSocial = false;
                        this.showResult = false;
                    } else {
                        this.goToQuest()
                    }
                },
                goToQuest() {
                    this.score = {
                        'sanya': 0,
                        'danik': 0,
                        'den': 0,
                        'vadik': 0,
                        'ilya': 0,
                        'vovan': 0,
                    }
                    this.showMain = false;
                    this.showAchivments = false;
                    this.showQuest = true;
                    this.showSocial = false;
                    this.showResult = false;
                },
                goToSocial() {
                    this.showMain = false;
                    this.showAchivments = false;
                    this.showQuest = false;
                    this.showSocial = true;
                    this.showResult = false;
                },
                goToResult(race) {
                    this.showMain = false;
                    this.showAchivments = false;
                    this.showQuest = false;
                    this.showSocial = false;
                    this.showResult = true;
                    this.resultRace = race;
                },
                nextQuestion(answer) {
                    if (this.numQuest == 4) {
                        this.numQuest = 0;
                        this.endGame();
                    } else {
                        this.numQuest++;
                    }
                    eval(answer)
                },
                endGame() {
                    this.totalGames++;
                    localStorage.setItem('ilitaTotalGames', this.totalGames)
                    let endResult = getMaxOfArray([this.score.sanya, this.score.danik, this.score.den, this.score.vadik, this.score.ilya, this.score.vovan])
                    if (endResult == 0) {
                        this.goToResult('sanya')
                        this.totalGame.sanya++
                    } else if (endResult == 1) {
                        this.goToResult('danik')
                        this.totalGame.danik++
                    } else if (endResult == 2) {
                        this.goToResult('den')
                        this.totalGame.den++
                    } else if (endResult == 3) {
                        this.goToResult('vadik')
                        this.totalGame.vadik++
                    } else if (endResult == 4) {
                        this.goToResult('ilya')
                        this.totalGame.ilya++
                    } else {
                        this.goToResult('vovan')
                        this.totalGame.vovan++
                    }
                    localStorage.setItem('ilitaTotalGame', JSON.stringify(this.totalGame))
                }
            },
            computed: {
                totalScore() {
                    let score = 0;
                    for (let i in this.totalGame) {
                        score+=(this.totalGame[i]*results[i].points);
                    }
                    return score;
                },
                openRaces(){
                    let count = 0
                    for (let i in this.totalGame) {
                        if(this.totalGame[i] > 0) count++;
                    }
                    return count;
                },
                bestRace(){
                    let best = 'sanya'
                    for (let i in this.totalGame) {
                        if(this.totalGame[i] > this.totalGame[best]) best = i;
                    }
                    return results[best].name
                },
                showResultRace(){
                    return {
                        'sanya': this.totalGame.sanya > 0 ? true : false,
                        'danik': this.totalGame.danik > 0 ? true : false,
                        'den': this.totalGame.den > 0 ? true : false,
                        'vadik': this.totalGame.vadik > 0 ? true : false,
                        'vovan': this.totalGame.vovan > 0 ? true : false,
                        'ilya': this.totalGame.ilya > 0 ? true : false,
                    }
                }
                    
            }
        })
    let audio = new Audio('audio/soundtrack.mp3')
    let audio_btn = document.querySelector('.btn__sound')
    let audio_icon = document.querySelector('.btn__sound i')

    audio.muted = true;
    audio.volume = 0.2;
    
    audio.addEventListener('loadedmetadata', function() {
        audio.currentTime = 0 + Math.random() * (audio.duration + 1 - 0)
    })

    audio_btn.addEventListener('click', function(){
        console.log('audio click', audio.muted)
        if (audio.muted) {
            audio.play();
            audio.muted = false;
            audio_icon.classList.add('fa-volume-up')
            audio_icon.classList.remove('fa-volume-off')
        } else {
            audio.muted = true;
            audio_icon.classList.add('fa-volume-off')
            audio_icon.classList.remove('fa-volume-up')
        }
    })
        
    </script>

</body>

</html>